.d-grid {
    display: grid;
}

.d-content {
    display: contents;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.mb-3 {
    margin-block-end: 1rem;
}

.w-100 {
    width: 100%;
}

.date-picker > input {
    width: 100%;
}

.text-right {
    text-align: right;
}